<div class = "whole_page">
  <br>
<div class = "page_header"><h2>Workouts Seeking a Partner<h2></div><br><br>
<% @workouts.each do |workout| %>
<div class="workout">
  <div class="workout_header"><%=workout.date%>: <%= link_to workout.description, workout_path(workout) %> </div><br>


</div>
</div><br><br>

<% end %>
</div>
