<br>
<div class="container">
<h1 class="gym_header">
  <div class="text-warning"><%= @gym.name %> <div class="gym-address"><%= @gym.address + ", " + @gym.city + " " + @gym.zipcode%></div></div></h1>
<p><div class="gym_body">
  <br>
OPEN: <div class="gym-info"><%= @gym.hours%></div><br>

  RATES: <div class="gym-info"><%= @gym.rates%></div><br>
</div>
</div>
