// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.whole_page{
  margin: auto;
  width: 70%;
  padding: 10px;
}

h6{
    // display:inline;
    text-align: left;
  
    background-color:lightgrey;
    color:black;
    width: 70%
}
