// Place all the styles related to the Workouts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.whole_page{
  margin: auto;
  width: 50%;
  padding: 10px;
}


.page_header{
    display: center;
    padding: 0.5em 0.2em 0.5em 0.2em;
    border-radius: 30px;
    background-color: crimson;
    text-align: center;
    color:gold;
    font-family: "Andale Mono";
    width: auto;
    font-size: 25px

}

.body{
    // display:inline;
    display: center;
    padding: 0.5em 0.2em 0.5em;
    border-radius: 30px;
    background-color: #ffc107;
    text-align: center;
    color:black;
    font-family: "Andale Mono";
    font-size: 15px;
    width: auto;
}

h1{
  // display:inline;
  display: inline-block;
  padding: 0.3em 0.3em 0.3em 0.3em;
  border-radius: 20px;
  background-color: #ffc107;
  text-align: center;
  color:black;
}

h6{
    // display:inline;
    text-align: left;
    padding: 0.3em 0.3em 0.3em 0.3em;
    border-radius: 20px;
    background-color: #ffc107;
    // background-color:lightgrey;
    color:black;
    width: 70%
}

.subtext{
  text-align: center;
  font-size: 13px;
}


.workout_header{
  font-size: 20px;
  background-color: white;
  color: #ffc107;
  border-radius: 30px;
  padding: 8px 8px 8px 8px;
  text-align: center;
  width: auto;
}

.review_form{
  font-size: 12px
}

.text{
  font-size: 15px;
  color: crimson;
}

.profile_data{
  font-size: 20px;
  font-style: bold;
  color: red;
}

.nav_text{
  color: crimson;
  font-size: 30px;
  font-family: "Andale Mono";
  height: 40px;
  line-height: 40px;
}

.nav-page{
  font-family: "Andale Mono";
  height: 40px;
  line-height: 40px;
  color: crimson;
}

a{
  color: crimson;
  height: 40px;
  line-height: 40px;
}

.nav-options{

}


.dropdown-menu{
  background-color: crimson;
}

.dropdown-menu a{
  color: gold;
}

.logout{
  font-family: "Andale Mono";
  text-decoration: none;
  background-color: white;
  color: gold;
  padding: 8px 8px 8px 8px;
  border-top: 3px;
  border-right: 3px;
  border-bottom: 3px;
  border-left: 3px;
  display: inline;
  font-size: 20px;
  border-radius: 30px;
  align-self: center;
}

.logout a{
  color: crimson;
}

#text{
  font-size: 40px;
  color: crimson;
}

#search{
  font-size: 25px;
}

.text-danger{
  font-family: "Andale Mono";
  font-size: 20px;
}

.gym-info{
  font-size: 20px;
  color: crimson;
}


.gym-address{
  font-size: 15px;
  color: white;
}

.gym_body{
    // display:inline;
    display: center;
    padding: 0.5em 0.2em 0.5em;
    border-radius: 30px;
    background-color: #ffc107;
    text-align: center;
    color:black;
    font-family: "Andale Mono";
    font-size: 15px;
    width: 50%;
}

.gym_header{
    display: center;
    padding: 0.5em 0.2em 0.5em 0.2em;
    border-radius: 30px;
    background-color: crimson;
    text-align: center;
    color:gold;
    font-family: "Andale Mono";
    width: 50%;
    font-size: 25px;
}

.upcoming_body{
    // display:inline;
    display: center;
    padding: 0.5em 0.2em 0.5em;
    border-radius: 30px;
    background-color: #ffc107;
    text-align: center;
    color:black;
    font-family: "Andale Mono";
    font-size: 15px;
    width: 40%;
    margin: 30px;
}

.workout_show{
  background-color: white;
  width: auto;
  display: center;
  border-radius: 30px;
  padding: 1em 0.2em 0.5em;
}

.review_header{
  position: absolute;
    display: center;
    padding: 0.4em 0.6em 0.4em 0.6em;
    border-radius: 30px;
    background-color: crimson;
    text-align: center;
    color:gold;
    font-family: "Andale Mono";
    width: auto;
    font-size: 25px;
    left: 45%
}

.review_body{
    // display:inline;
    position: absolute;
    display: center;
    padding: 0.5em 0.2em 0.5em;
    border-radius: 30px;
    background-color: #ffc107;
    text-align: center;
    color:black;
    font-family: "Andale Mono";
    font-size: 15px;
    width: 300px;
    left: 45%
}

.return_link{
    // display:inline;
    display: center;
    padding: 0.5em 0.2em 0.5em;
    border-radius: 30px;
    background-color: white;
    text-align: center;
    color:black;
    font-family: "Andale Mono";
    font-size: 12px;
    width: auto;
    margin: 30px;
    position: absolute;




}
.review_info{
  font-size: 20px;
  color: crimson;
}
