<!-- <div class="container">

<div class="p-3 mb-2 bg-warning text-dark"><h1>Gymigo</h1></div>
<br>
<p class="p-3 mb-2 bg-warning text-dark"><%= link_to "Login", login_path %> / <%= link_to "Sign up", signup_path %></p>
</div> -->

<div class="container">
  <br>
  <br>
  <div class="p-3 mb-2 bg-warning text-dark">
  <div class="row">
    <div class="col-sm">
      <h1>GYMigo</h1>
    </div>

    <div class="col-sm"><h4>
      <%= link_to "Login", login_path %><h4>
    </div>
    <div class="col-sm"><h4>
      <%= link_to "Sign up", signup_path %><h4>
    </div>
  </h4>
  </div>
</div>
</div>
